// team archive
.rt-team-default {
	.team-item {
		position: relative;
		@include transition_default;
		ul {
			@include list_default();
		}
		.team-title {
			position: relative;
			font-size: 26px;
			margin-bottom: 0;
			font-weight: 800;
			line-height: 1.4;
			transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
			transition-delay: 0s;
			a {
				color: $white_color;
				&:hover {
					color: $primary_color;
				}
			}
		}
		.team-designation {
			color: $white_color;
			transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
			transition-delay: 0s;
		}
		p {
			margin-top: 8px;
			transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
			transition-delay: 0s;
		}
		.team-shape {
			display: block;
			transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
			transition-delay: 0s;
		}
	}
	.team-thumbs {
		position: relative;
		.post-thumbnail-wrap {
			.post-thumbnail {
				overflow: visible;
			}
			&::after {
				display: none;
			}
		}
		img {
			@include transition_default;
			filter: grayscale(100%);
		}
	}
	.team-social {
		position: absolute;
		display: flex;
		align-items: center;
		gap: 8px;
		transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
		bottom: -100px;
		li {
			position: relative;
			opacity: 0;
			visibility: hidden;
			transform: translateY(-10px);
			@include transition_default;
			line-height: 1;
			.social-link {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				height: 45px;
				width: 45px;
				border-radius: 7px;
				transition: all 0.21s ease-in-out;
				background-color: #2A2A2A;
				color: #AFAFAF;
				i {
					display: block;
					transition: all 0.21s ease-in-out;
				}
				&:hover {
					background-color: $primary_color;
					color: $button_color;
					i {
						transform: scale(1.3);
					}
				}
			}
		}
	}
}


.rt-team-multi-layout-1 {
	.team-item {
		border-radius: 20px;
		border: 1px solid #262626;
		background-color: #191919;
		padding: 30px 50px;
		position: relative;
		overflow: hidden;
		&:after {
			content: "";
			height: 100%;
			width: 100%;
			background-color: rgb(25, 25, 25);
			position: absolute;
			left: 0;
			right: 0;
			bottom: -50%;
			display: block;
			filter: blur(37px);
		}
		.team-content {
			position: absolute;
			bottom: 40px;
			left: 0;
			right: 0;
			margin: 0 45px;
			z-index: 1;
		}
		&:hover {
			.team-title {
				transform: translateY(-65px);
				transition-delay: 0.25s;
			}
			.team-designation {
				transform: translateY(-65px);
				transition-delay: 0.2s;
			}
			.team-shape {
				transform: translateY(-65px);
				transition-delay: 0.15s;
			}
			p {
				transform: translateY(-65px);
				transition-delay: 0.1s;
			}
			.team-social {
				bottom: 0;
				opacity: 1;
				visibility: visible;
				// transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
				// transform: translateY(-15px);
				transition-delay: 0.5s;
				
				li {
					opacity: 1;
					visibility: visible;
					transform: translateX(0);
					&:nth-child(1) {
						transition-delay: 0.1s;
					}
					&:nth-child(2) {
						transition-delay: 0.2s;
					}
					&:nth-child(3) {
						transition-delay: 0.3s;
					}
					&:nth-child(4) {
						transition-delay: 0.4s;
					}
					&:nth-child(5) {
						transition-delay: 0.5s;
					}
					&:nth-child(6) {
						transition-delay: 0.6s;
					}
				}
			}
			.team-thumbs {
				img {
					transform: scale(1.05);
					filter: grayscale(0);
				}
			}
		}
	}
}

.rt-team-multi-layout-2 {
	.team-item {
		text-align: center;
		.team-thumbs {
			border-radius: 20px;
			border: 1px solid #262626;
			background-color: #191919;
			padding: 30px 50px;
			position: relative;
			overflow: hidden;
			&:after {
				content: "";
				height: 100%;
				width: 100%;
				background-color: rgb(25, 25, 25);
				position: absolute;
				left: 0;
				right: 0;
				bottom: -50%;
				display: block;
				filter: blur(37px);
			}
		}
		.team-social {
			position: unset;
			margin-top: 24px;
			justify-content: center;
			li {
				opacity: 1;
				visibility: visible;
			}
		}
		.team-title {
			a {
				color: $white_color;
				&:hover {
					color: $primary_color;
				}
			}
		}
		.team-content {
			padding-top: 20px;
		}

		&:hover {
			.post-thumbnail {
				img {
					filter: grayscale(0);
					transform: scale(1.05);
				}
			}
		}
	}
}
.team-grid-layout-5 {
	.swiper-slide-active {
		.team-title {
			transform: translateY(-65px);
		}
		.team-designation {
			transform: translateY(-65px);
		}
		.team-shape {
			transform: translateY(-65px);
		}
		p {
			transform: translateY(-65px);
		}
		.team-social {
			bottom: 0;
			opacity: 1;
			visibility: visible;
			
			li {
				opacity: 1;
				visibility: visible;
				transform: translateX(0);
			}
		}
		.team-thumbs {
			img {
				filter: grayscale(0);
			}
		}
	}
}

// team single
.team-single-item {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.team-single-wrap {
		// .order-2 {
		// 	order: 2;
		// 	.team-single-content-wrap {
		// 		@media(min-width: 992px){
		// 			padding-left: 30px;
		// 		}
		// 		@media(max-width: 991px){
		// 			padding-top: 40px;
		// 		}
		// 	}
		// }
		// .order-1 {
		// 	.team-single-content-wrap {
		// 		@media(min-width: 992px){
		// 			padding-right: 30px;
		// 		}
		// 		@media(max-width: 991px){
		// 			padding-bottom: 50px;
		// 		}
		// 	}
		// }
	}
	.team-single-intro-layout {
		display: flex;
		border-radius: 20px;
		width: 100%;
		max-width: 100%;
		margin-bottom: 50px;
		padding: 40px;
		padding-bottom: 0;
		position: relative;
		overflow: hidden;
		z-index: 1;
		gap: 56px;
		@media(max-width: 575px) {
			display: block;
			padding-bottom: 40px;
		}
		&::before {
			content: "";
			height: 100%;
			width: 100%;
			background-image: url(../images/sidebar-bg.png);
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
			background-repeat: no-repeat;
			background-size: cover;
			z-index: -1;
			// @media(max-width: 575px) {
			// 	display: none;
			// }
		}
		&:after {
			content: "";
			height: 100%;
			width: 100%;
			background-color: rgb(25, 25, 25);
			position: absolute;
			left: -55%;
			bottom: -70%;
			display: block;
			filter: blur(37px);
			@media(max-width: 575px) {
				display: none;
			}
		}
	}

	.team-single-image {
		position: relative;
		@media (min-width: 1200px) {
			margin-bottom: -7%;
		}
		img {
			width: 100%;
		}
		@media(max-width: 575px) {
			margin-bottom: 15px;
		}
	}

	.team-thumb-round {
		border-radius: 1000px;
		padding: 24px 30px 30px;
		border: 1px solid $border_color;
		background-color: $white_color;
		text-align: center;

		img {
			background-color: $white_color;
			border-radius: 1000px;
		}
	}

	.entry-title {
		font-size: clamp(30px, 4vw, 36px);
		line-height: 1.2;
		margin-bottom: 5px;
	}

	.designation {
		display: block;
		font-weight: 500;
	}

	.team-single-content-wrap {
		h3 {
			position: relative;
			font-size: 24px;
			line-height: 1.4;
			position: relative;
			margin-bottom: 18px;
			padding-bottom: 18px;
			&::before {
				content: "";
				height: 5px;
				width: 48px;
				background-color: $primary_color;
				position: absolute;
				bottom: 0;
				left: 0;
				border-radius: 30px;
			}
		}

		.team-info {
			display: inline-block;
			margin-top: 12px;
			margin-bottom: 30px;

			ul {
				li {
					display: block;
					margin-right: 0;
					margin-bottom: 10px;
					color: $body_color;

					a {
						color: $body_color;

						&:hover {
							color: $primary_color;
						}
					}

					i {
						height: 35px;
						width: 35px;
						background-color: transparent;
						border: 1px solid #2F2F2F;
						color: #C2C2C2;
						border-radius: 35px;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						margin-right: 10px;
						font-size: 14px;
					}

					@media (max-width: 575px) {
						float: unset;
						width: 100%;
					}
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.team-social-social {
		display: flex;
		gap: 8px;
		li {
			a {
				display: inline-block;
				font-size: 16px;
				color: #AFAFAF;
				height: 45px;
				width: 45px;
				background-color: #2A2A2A;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				border-radius: 7px;
				i {
					display: block;
					transition: all 0.41s ease-in-out;
				}
				&:hover {
					color: $primary_color;
					i {
						transform: rotateY(380deg);
					}
				}
			}
		}
	}


	.rt-skill-wrap {
		margin-top: 40px;
		border-radius: 20px;
		width: 100%;
		max-width: 100%;
		padding: 50px 60px 60px;
		position: relative;
		overflow: hidden;
		z-index: 1;
		gap: 56px;
		@media(max-width: 575px) {
			padding: 40px;
		}
		&::before {
			content: "";
			height: 100%;
			width: 100%;
			background-image: url(../images/sidebar-bg.png);
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
			background-repeat: no-repeat;
			background-size: cover;
			z-index: -1;
		}
		.rt-skill-each {
			margin-top: 20px;
		}

		.rt-name {
			color: $white_color;
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 20px;
		}

		.progress {
			position: relative;
			background-color: #222222;
			border-radius: 50px;
			height: 18px;
			padding: 5px;
		}

		.progress-bar {
			position: relative;
			height: 8px;
			width: 0;
			background: linear-gradient(90deg, #3B4A00 0%, #B8E900 100%);
			border-radius: 50px;
			transition: 2s linear;
			span {
				font-size: 16px;
				font-weight: 500;
				color: $title_color;
				position: absolute;
				right: 0;
				top: -28px;
				padding-bottom: 10px;
				line-height: 1;
			}
			&:before {
				content: attr(data-per);
				position: absolute;
				font-size: 18px;
				font-weight: 700;
				text-transform: capitalize;
				color: $white_color;
				bottom: 25px;
				right: 0;
			}
		}
	}
}
.team-personal-info-box {
	border-radius: 20px;
	width: 100%;
	max-width: 100%;
	padding: 50px 60px;
	position: relative;
	overflow: hidden;
	z-index: 1;
	@media(max-width: 575px) {
		padding: 40px;
	}
	h3 {
		position: relative;
		font-size: 24px;
		line-height: 1.4;
		position: relative;
		margin-bottom: 25px;
		padding-bottom: 20px;
		&::before {
			content: "";
			height: 5px;
			width: 48px;
			background-color: $primary_color;
			position: absolute;
			bottom: 0;
			left: 0;
			border-radius: 30px;
		}
	}
	p {
		margin-bottom: 30px;
	}
	
	&::before {
		content: "";
		height: 100%;
		width: 100%;
		background-image: url(../images/sidebar-bg.png);
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;
	}
	.info-box-list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		li {
			flex: 0 0 50%;
			width: 50%;
			margin-bottom: 10px;
			font-size: 18px;
			font-weight: 500;
			@media(max-width: 575px) {
				flex: 0 0 100%;
				width: 100%;
				font-size: 16px;
			}
			svg {
				margin-right: 5px;
				vertical-align: middle;
			}
		}
	}
}
// team contact form
.team-contact-form {
	border-radius: 20px;
	width: 100%;
	max-width: 100%;
	padding: 50px 60px 60px;
	position: relative;
	overflow: hidden;
	z-index: 1;
	@media(max-width: 767px) {
		padding: 40px;
	}
	h3 {
		position: relative;
		font-size: 24px;
		line-height: 1.4;
		position: relative;
		margin-bottom: 25px;
		padding-bottom: 20px;
		&::before {
			content: "";
			height: 5px;
			width: 48px;
			background-color: $primary_color;
			position: absolute;
			bottom: 0;
			left: 0;
			border-radius: 30px;
		}
	}
	
	&::before {
		content: "";
		height: 100%;
		width: 100%;
		background-image: url(../images/sidebar-bg.png);
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;
	}
	&:after {
		content: "";
		height: 100%;
		width: 100%;
		background-image: url(../images/sidebar.svg);
		position: absolute;
		bottom: 0;
		right: 0;
		background-repeat: no-repeat;
		background-position: right bottom;
		z-index: -1;
	}
	.frm-fluent-form {
		.ff-el-input--label {
			display: none;
		}
		.ff-el-group {
			margin-bottom: 10px;
		}
		textarea {
			min-height: 112px;
		}
		.ff-el-form-control {
			border: 0;
			font-size: 15px;
			height: 50px;
			background-color: #222222;
			color: $white_color;
			&:focus {
				border: 1px solid $primary_color;
				outline: none;
				box-shadow: unset;
			}
			&::placeholder {
				color: #767676;
			}
		}
		.ff-btn-submit {
			background-color: $primary_color !important;
			color: $black_color !important;
			border-radius: 8px !important;
			font-size: 14px;
			font-weight: 800;
			padding: 14px 30px;
			width: 100%;
			text-transform: uppercase;
			&:hover {
				background-color: $white_color !important;
				color: $black_color;
				opacity: 1;
			}
		}
	}
}
// Related team
.rt-related-team {
	margin-top: 60px;
	.related-title {
		font-size: 30px;
		margin-bottom: 26px;
	}
}

