/* cursor css  */
.cb-cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  contain: layout style size;
  pointer-events: none;
  will-change: transform;
  transition: opacity 0.3s, color 0.4s;
}

.cb-cursor:before {
  content: "";
  position: absolute;
  top: -24px;
  left: -24px;
  display: block;
  width: 80px;
  height: 30px;
  transform: scale(0);
  border-radius: 25px;
  transition: transform 0.3s ease-in-out, opacity 0.1s;
  transition: transform 0.3s ease-in-out, opacity 0.1s, -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
}

.cb-cursor-text {
  position: absolute;
  top: -28px;
  left: -4px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0) rotate(10deg);
  opacity: 0;
  color: black;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.01em;
  transition: opacity 0.4s, transform 0.3s;
  transition: opacity 0.4s, transform 0.3s, -webkit-transform 0.3s, -moz-transform 0.3s, -o-transform 0.3s;
}

@supports (mix-blend-mode: exclusion) {
  .cb-cursor.-exclusion,
.cb-cursor.-opaque {
    mix-blend-mode: exclusion;
  }
}
@supports (mix-blend-mode: exclusion) {
  .cb-cursor.-exclusion:before,
.cb-cursor.-opaque:before {
    background: white;
  }
}
.cb-cursor.-normal,
.cb-cursor.-text {
  mix-blend-mode: normal;
}

.cb-cursor.-normal:before,
.cb-cursor.-text:before {
  background: currentColor;
}

.cb-cursor.-inverse {
  color: white;
}

.cb-cursor.-visible:before {
  transform: scale(0.2);
}

.cb-cursor.-visible.-active:before {
  transform: scale(0.23);
  transition-duration: 0.2s;
}

.cb-cursor.-pointer:before {
  transform: scale(0);
}

.cb-cursor.-text:before {
  background: #fff;
  transform: scale(1.7);
}

.cb-cursor.-text .cb-cursor-text {
  opacity: 1;
  transform: scale(1);
}

.cb-cursor.-text.-active:before {
  transform: scale(1.6);
  transition-duration: 0.2s;
}

.cb-cursor.-opaque:before {
  transform: scale(1.32);
}

.cb-cursor.-opaque.-active:before {
  transform: scale(1.2);
}

.cb-cursor.-lg:before {
  transform: scale(2);
}

.cb-cursor.-hidden:before {
  transform: scale(0);
}

.-color-red {
  color: red;
}

.-color-green {
  color: #51c67d;
}

.cb-demo {
  background: #fff;
}

.cb-demo-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cb-demo-container {
  padding: 0 20px;
}

@media (min-width: 1600px) {
  .cb-demo-container {
    padding: 0 120px;
  }
}
.cb-demo-row {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 30px 0;
}

@media (min-width: 1600px) {
  .cb-demo-row {
    margin: 60px 0;
  }
}
.cb-demo-item {
  position: relative;
  flex: 1;
  padding: 50px 30px;
  margin: 0 20px;
  color: #000;
}

@media (min-width: 1600px) {
  .cb-demo-item {
    padding: 90px 30px;
    margin: 0 30px;
  }
}
.cb-demo-item-title {
  position: relative;
  margin: 0 0 25px 0;
  font-size: 30px;
  font-weight: bold;
}

.cb-demo-item-text {
  position: relative;
  max-width: 70%;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
}

.cb-demo-item:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  background: #f8f8f8;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s, -moz-box-shadow 0.2s;
}

.cb-cursor.-green {
  color: green;
}

.cb-cursor.-green:before {
  background: green;
}

.cb-cursor.-red .cb-cursor-text {
  color: black;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  text-transform: uppercase;
}

.cb-cursor.-red {
	color: black;
	background-color: black;
	width: 5px;
	height: 5px;
}

.cb-cursor.-red:before {
	border-radius: 500px;
	background: white;
	width: 100px;
	height: 100px;
	color: #fff;
}

.cb-cursor.-portfolio:before {
  display: none;
}
.cb-cursor.-portfolio .cb-cursor-text {
	top: 0;
	left: 0;
	width: auto;
	height: auto;
	display: block;
	text-align: start;
}
.cb-cursor.-portfolio .rt-project-btn {
	width: 170px;
	height: 170px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: $primary_color;
	border-radius: 100%;
	color: $title_color;
	transition: all 0.5s;
}
.cb-cursor.-portfolio .rt-project-btn .btn-text {
    display: inline-block;
    font-weight: 700;
    color: $black_color;
}
.cb-cursor.-portfolio .rt-project-btn i {
    text-align: center;
    transform: rotate(-49.54deg);
	display: block;
	margin-top: 15px;
}