// Image style
.rt-image-layout {
	position: relative;
	.rt-image {
		list-style: none;
		margin: 0;
		padding: 0;
		line-height: 0;
		.rt-img {
			display: block;
		}
		img {
			 object-fit: cover;
		}
		@media (max-width: 1199px) {
			img {
				width: 100%;
			}
		}
	}
	.rt-content {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
.rt-image-layout-1 {
	.rt-image {
		position: relative;
		z-index: 1;
	}
}

.center {
	.rt-blr-shape2::after,
	.rt-blr-shape3::after,
	.rt-blr-shape4::after {
		left: 0;
		right: 0;
		margin: 0 auto;
	}
}
.right {
	.rt-blr-shape2::after,
	.rt-blr-shape3::after,
	.rt-blr-shape4::after {
		right: 0;
	}
}



.rt-image-layout-3 {
	.rt-image {
		position: relative;
		z-index: 1;
	}
}


.rt-hero-image {
    position: relative;
    width: 100%;
    height: 100vh; /* change if needed */
    overflow: hidden;
}

.ui-image-distortion {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-position: center center;
	background-repeat: no-repeat;
    z-index: 1;
}

.ui-image-distortion canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    pointer-events: none;
}


// Gallery

.rt-gallery-item {
	.image-link {
		position: relative;
		overflow: hidden;
		background-color: $title_color;
		i {
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			margin: 0 auto;
			text-align: center;
			transform: translateY(-50%);
			visibility: hidden;
			opacity: 0;
			transition: all ease 0.31s;
		}
		img {
			opacity: 1;
			transition: all ease 0.31s;
		}
	}
	&:hover {
		.image-link {
			i {
				visibility: visible;
				opacity: 1;
			}
			img {
				opacity: 0.5;
			}
		}

	}
}

