/* Main Navigation
***************************/
.navigation-menu-wrap {
	@media (min-width: 1350px) {
		position: relative;
	}
	@media(max-width: 1024px) {
		padding-top: 12px;
		padding-bottom: 12px;
	}
	@media(max-width: 767px) {
		justify-content: center;
		// gap: 12px;
		.menu-icon-wrapper {
			margin-left: auto;
			padding-left: 0;

			> ul {
				justify-content: center;
			}
		}
	}
}
.blenco-navigation {
	flex: 1;
	display: flex;
	align-items: center;
	.main-header-section & {
		@media (max-width: 1024px) {
			display: none;
		}
	}

	ul.blenco-navbar {
		padding: 0;
		margin: 0;
	}

	ul li {
		display: inline-block;
		position: relative;
		margin-bottom: 0;
	}

	ul li a {
		font-size: 16px;
		font-weight: 600;
		line-height: 22px;
		color: $white_color;
		text-decoration: none;
		text-transform: capitalize;
		padding: 32px 16px;
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 5px;

		@media (max-width: 1199px) {
			padding: 26px 15px;
		}
	}

	ul li.current-menu-item > a svg,
	ul li.current-menu-ancestor > a svg {
		fill: $primary_color;
	}
	ul li.current-menu-item > a {
		// color: $title_color;
		padding-left: 15px;
	}

	ul li.current-menu-ancestor > a {
		
		@extend .primaryColor;
	}
	ul li.current-menu-item > a::before {
		opacity: 1;
		visibility: visible;
		left: 0;
	}

	ul li a:hover {
		@extend .primaryColor;
		svg {
			fill: $primary_color;
		}
	}

	ul.menu > li > a:hover {
		@extend .primaryColor;
	}

	ul.menu li.current-menu-item > a,
	ul.menu li.current > a {
		@extend .primaryColor;
	}

	/* #. Submenu */
	ul > li > ul {
		left: 0;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 100%;
		z-index: 10;
		padding: 0;
		width: $dropdown_width;
		text-align: left;
		border-radius: 0;
		background-color: $white_color;
		box-shadow: 0 6px 12px rgba(23, 22, 24, 0.04), 0 4px 8px rgba(23, 22, 24, 0.04), 0 2px 8px rgba(23, 22, 24, 0.04);
	}

	@keyframes menu_slide {
		0% {
			transform: translate3d(-33px, 0, 0);
			opacity: 0;
		}
		100% {
			transform: translateZ(0);
			opacity: 1;
		}
	}

	ul > li:hover > ul {
		opacity: 1;
		visibility: visible;
		animation: menu_slide 0.44s both;
	}

	ul li ul li ul {
		left: 100%;
		top: 0;
		width: $dropdown_width;
	}

	ul li ul li {
		display: block;
		padding: 0 24px;
	}

	ul li ul li a {
		position: relative;
		display: block;
		color: $title_color;
		padding: 10px 0;
		z-index: 2;
		font-size: 15px;
		border-bottom: 1px dashed #bdbdbd;
	}
	ul li ul li > a:before {
		position: absolute;
		content: '';
		left: -5px;
		top: 50%;
		width: 10px;
		height: 1px;
		opacity: 0;
		visibility: hidden;
		background-color: $title_color;
		transform: translateY(-50%);
		@include transition_default();
	}
	ul li ul li:hover > a {
		padding-left: 15px;
	}
	ul li ul li:hover > a:before {
		opacity: 1;
		visibility: visible;
		left: 0;
	}

	ul li ul > li:last-child {
		> a {
			border-bottom: none;
		}
	}

	ul li ul li:hover > a {
		color: $title_color;
	}

	/*Menu hover effect*/
	ul.menu li ul.dropdown-menu li:last-child:after {
		border-bottom: none;
	}

	ul.menu li ul.dropdown-menu li a:hover {
		color: $title_color;
	}

	ul.menu li ul.dropdown-menu li a:before {
		position: absolute;
		z-index: 1;
		content: "";
		@extend .primaryBG;
		height: 0.0625rem;
		width: 0;
		right: 0;
		left: inherit;
		bottom: 0;
		transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
	}

	ul.menu li ul.dropdown-menu li a:hover:before {
		width: 100%;
		left: 0;
		right: inherit;
	}

	> ul li.page_item_has_children > a:after,
	> ul li.menu-item-has-children > a:after {
		content: "";
		width: 7px;
		height: 7px;
		border: 1px solid var(--rt-primary-color);
		display: inline-block;
		transform: rotate(45deg) translate(1px, -4px);
		border-left: none;
		border-top: none;
		margin-left: 8px;
		@include transition_default();
	}

	.caret svg {
		// fill: unset;
		fill: $white_color;
		transition: fill 0.4s;
	}

	.dropdown-menu .caret {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}

	.dropdown-menu .caret svg {
		transform: rotate(-90deg) scale(.9);
	}
}

//Navigation offset change if it try to cross the body width
.blenco-navbar li > .dropdown-menu li {
	&.dropdown-inverse .dropdown-menu {
		left: auto;
		min-width: 195px;
		transition: all .2s;
	}

	&.dropdown-inverse:hover .dropdown-menu {
		margin-right: -5px;
	}
}
